body { margin: 0; padding: 0; }
#map { 
    position: absolute;
    padding-top: 400px;
     top: 200px; 
     bottom: 200px; 
     width: 100%;
 }

    #menu {
        position: absolute;
        background: #fff;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
    }